.home {
  height: 100vh;
  background-blend-mode: darken;
  background-position: center;
}
.content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}
.content h2 {
  color: #e30613;
  margin: 1em auto;
  font-size: 2.5rem;
  font-weight: bold;
}
.content h4 {
  color: white;
  width: 50%;
}
@media screen and (max-width: 480px) {
  .content {
    position: absolute;
    top: 60%;
  }
  .content h2 {
    font-size: 1.5rem;
  }
  .content h4 {
    width: 90%;
    font-size: 1rem;
  }
}
